@model IEnumerable<SCERP.Model.Mrc_SpecificationSheetImage>

@{
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false, ajaxUpdateContainerId: "grid");
    grid.Bind(Model, rowCount: Model.Count(), autoSortAndPage: false);
    grid.Pager(WebGridPagerModes.All);
    @grid.GetHtml(htmlAttributes: new { id = "grid" },
                         tableStyle: "webgrid-table webgrid",
                         headerStyle: "webgrid-header",
                         footerStyle: "webgrid-footer",
                         alternatingRowStyle: "webgrid-alternating-row",
                         selectedRowStyle: "webgrid-selected-row",
                         rowStyle: "webgrid-row-style",
                                     firstText: "First",
                                     lastText: "Last",
                                      nextText: "Next",
                                      mode: WebGridPagerModes.All,
                                          previousText: "Previous",
                         columns: grid.Columns(
                         grid.Column("Title"),
                             grid.Column("Path", header: "Image", format: @<text><img src="@Url.Content(item.Path)" style=" width:20px; height:15px;" /></text>),

                             grid.Column("Download", format:
                            @<text><a href="/Merchandising/SpecificationSheet/DownLoad?fileNamePath=@item.Path"><img src="~/Content/icons/16x16/download.jpg" name="" /> </a></text>),
                             grid.Column("Delete",format:
                            @<text><button class="deleteCallBack" action="/Merchandising/SpecificationSheet/DeleteSpecificationSheetImage?imageId=@item.ImageId"></button></text>
                                                                  )));
}


