<table>
    <tr>
        <td>
            <fieldset>
                <legend> Upload Style Image</legend>
                <div id="ImageFileUploader">Upload</div>

            </fieldset>
        </td>
        <td>
            <fieldset>
                <legend>Upload TeckPack document</legend>
                <div id="DocumentFileuploader">Upload</div>
            </fieldset>
        </td>
    </tr>
</table>
