
@RenderSection("styles", required: false)
<link href="~/Content/CSS/Inventory/InventoryFormContorlStyle.css" rel="stylesheet" />
<div id="content" class="Content">
    @RenderBody()
</div>
@RenderSection("scripts", required: false)