<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASSORT ERP</title>
    <link rel="shortcut icon" href="~/Content/images/favicon.PNG" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Common/login.css" rel="stylesheet" />

</head>
<body>

    <div id="main" class="main">

        <div id="contentRight" class="Content">
            @RenderBody()
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


