@model SCERP.Web.Areas.HRM.Models.ViewModels.AuthorizedPersonViewModel
@{
    Layout = null;
    var rowCount = 1;
}
<div>
    <link href="~/Content/Common/PdfReport.css" rel="stylesheet" />
    <table class="pdfReportTable" style="border: 0;margin-bottom:5px">
        <thead class="reportHeader">
            <tr class="reportTitle">
                <td colspan="15" align="center">Authorized Person List</td>
            </tr>
            <tr>
                <td style="padding-left: 10px;">Date:@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
            </tr>
        </thead>
    </table>

    <div>
        <table class="pdfReportTable" border="1">
            <thead class="reportThead">
                <tr class="reportTR">
                    <td class="reportTH">
                        SL. No
                    </td>
                  
                    <td class="reportTH">
                        Authorized Person
                    </td>
                    <td class="reportTH">
                        Authorized Person ID
                    </td>
                    <td class="reportTH">
                        AuthorizationType
                    </td>
                 

                </tr>
            </thead>
            <tbody class="reportBody">

                @foreach (var authorizedPerson in Model.AuthorizedPersons)
                {
                    <tr class="reportTR">
                        <td class="reportTD">
                            @rowCount
                        </td>
                        <td class="reportTD">
                            @(authorizedPerson.Employee == null ? "" : authorizedPerson.Employee.Name)
                        </td>
                        <td class="reportTD">
                            @(authorizedPerson.Employee == null ? "" : authorizedPerson.Employee.EmployeeCardId)
                        </td>
                        <td class="reportTD">
                            @(authorizedPerson.AuthorizationType == null ? "" : authorizedPerson.AuthorizationType.TypeName)
                        </td>
                    </tr>
                    rowCount += 1;
                }

            </tbody>

        </table>
    </div>
</div>





