@model SCERP.Web.Areas.Merchandising.Models.ViewModel.SupplierViewModel
@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using (Html.BeginForm("Index", "SupplierCompany", FormMethod.Get, new { @class = "SupplierCompanySearchForm submit-allow ignore-validation" }))
{
    <div class="header-title">
        <h2>Supplier List</h2>
    </div>
    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Supplier Name")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.SearchString)
                    </td>
                    <td>
                        <input type="button" class="searchAction" />
                    </td>
                </tr>
            </table>
        </div>
    </section>
}

<section class="search formCover">
    <div class="additem">
        <div class="addButton-wrapper">
            <button class="AjaxPopup addButton" action="/Merchandising/SupplierCompany/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.SupplierCompanies, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new {id = "grid"},
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns: grid.Columns(grid.Column("CompanyName", header: "Supplier Name"),
                    grid.Column("ContactName", header: "Contact Name"),
                    grid.Column("SupplierCode", header: "Supplier Code"),
                    grid.Column("Address", header: "Address"),
                    grid.Column("Edit", format: @<text><button class="edit" action="/Merchandising/SupplierCompany/Edit?SupplierCompanyId=@item.SupplierCompanyId"></button></text>),
                    grid.Column("Delete", format: @<text><button class="delete" action="/Merchandising/SupplierCompany/Delete/@item.SupplierCompanyId"></button></text>)))
            ;
        }

    </div>
</section>
