@model SCERP.Web.Areas.HRM.Models.ViewModels.EmployeeWorkShiftViewModel
@{
    Layout = null;
}
    
<td>
    @Html.Label("Company :")
</td>
<td>
    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByCompanyId, Model.CompanySelectListItem, "--Select--", new { @class = "SearchByCompanyId", @action = "/HRM/EmployeeWorkShift/GetAllBranchesByCompanyId", @TargetClass = "SearchByBranchId" })
</td>
<td>
    @Html.Label("Branch :")
</td>
<td>
    @Html.DropDownListFor(x => x.SearchFieldModel.SearchByBranchId, Model.BranchSelectListItem, "--Select--", new { @class = "SearchByBranchId", @action = "/HRM/EmployeeWorkShift/GetAllBranchUnitByBranchId", @TargetClass = "Hrm_BranchUnitIdForWorkShift" })
</td>






