
@{
    Layout = null;
}
<section class="formCover">
    <div class="mis-title">Body Rejection Replacement Status</div>
    <embed style="width:100%;height:1000px;" src="/Production/ProductionReport/CuttingBodyReplaceReport?orderStyleRefId=@ViewBag.OrderStyleRefId" />
</section>