@model SCERP.Web.Areas.Production.Models.StanderdMinValueViewModel
@{
    Layout = null;
}
<div>
    <table class="webgrid-table webgrid gridSelect">
        <thead class="webgrid-header">
        <tr>
            <th>Order Ref.</th>
            <th>Style Ref.</th>
            <th>Style</th>
            <th>Quantity</th>
            <th>SMV Detail</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var style in Model.BuyOrdStyles)
        {
            <tr class="buyerOrderStyle-row">
                <td>@style.OrderNo</td>
                <td>@style.OrderStyleRefId</td>
                <td>@style.StyleName</td>
                <td>@style.Quantity</td>
                <td><button class="btnDetail" targentclass="smvList" action="/Production/StanderdMinValue/SmvList?OrderStyleRefId=@style.OrderStyleRefId"></button></td>
            </tr>
        }

        </tbody>
    </table>
    <br/>
    <div  class="title-tag">SMV LIST </div>
    <div class="smvList">
        @{
            Html.RenderPartial("~/Areas/Production/Views/StanderdMinValue/SmvList.cshtml", Model);
        }
    </div>
</div>


@*<script type="text/javascript">
    $('.buyerOrderStyle-row').unbind('click').bind('click', function (e) {
        e.preventDefault();
        var $tr = $(this);
        $tr.addClass("selected").siblings().removeClass("selected");
    });

</script>*@