
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background-color: #e9e9e9; /*#F2F6F9*/
    /*padding-top: 0px;
    padding-bottom: 0px;
    background-attachment: fixed;
    background-position: center;*/
}

/* Scrollbar Style */
/*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: #222325;
}
::-webkit-scrollbar-track-piece {
    /*background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: lightsteelblue;
    border: 2px solid #b5b1b1;
    border-radius: 3px;
}
::-webkit-scrollbar-corner {
    background-color: #222325;
}
::-webkit-resizer {
    /*background-color: #666666;
}*/

.main {
    /*height:1200px;*/
    height: auto;
    border-width: 3px;
}
.Menu {
    /*background-color: #007C42;*/
    background: #58508d;
    /*border-top-width: 2px;*/
    /*padding-top:20px;*/
    padding-top: 0px;
    height: 100%;
    /*width:16%;*/
    width: auto;
    float: left;
}
/*.Menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: #9368E9;
    background: -moz-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9368E9), color-stop(100%, #943bea));
    background: -webkit-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -o-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -ms-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
    background-size: 150% 150%;
    opacity: .77;
}*/
.MenuLogIn {
    border-top-width: 2px;
    padding-top: 20px;
    height: 85%;
    width: 15%;
    float: left;
}
.Common-Color {
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(229,221,210) 0%, rgb(243,240,236) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(229,221,210)), color-stop(100%,rgb(243,240,236))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(229,221,210) 0%,rgb(243,240,236) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(229,221,210) 0%,rgb(243,240,236) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(229,221,210) 0%,rgb(243,240,236) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(229,221,210) 0%,rgb(243,240,236) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
}
.Menu-Padding {
    border-top-width: 2px;
    height: 85%;
    width: 2%;
    float: left;
}
.Content {
    height: auto;
    /*width: auto;*/
    /*float: left;*/
    border-color: #E5DDD2;
    /*background-color: #ffffff;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 1px;
    border-radius: 5px;
    border-width: 5px;
    padding: 0 8px;
    margin-left: 0;
    /*overflow-x: auto;*/
}

.Content div h2 {
    color: #455266;
    text-align: center;
}

.HeaderMargin {
    background-color: #7092BE;
    width: 2%;
    height: 10%;
    float: left;
}
.HearderLeft {
    background-color: #7092BE;
    width: 31%;
    height: 10%;
    float: left;
}
.HearderMiddle {
    background-color: #7092BE;
    width: 33%;
    height: 10%;
    float: left;
}
.HearderRight {
    background-color: #7092BE;
    width: 34%;
    height: 10%;
    float: left;
    display: block;
}
.HeaderRightInner {
    padding: 30px;
}
.HeaderLeftInner {
    padding-top: 30px;
}
.user-logout-wrapper {
    color: #191970;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    font-weight: 700;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    text-transform: capitalize;
}
h1 {
    color: #ffffff;
}

.Link {
    float: left;
    padding-left: 15px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: white;
}
.Link:hover, .Link:focus {
    text-decoration: none;
    color: gray;
    background-color: transparent;
}

iframe {
    width: 99.7%;
}

/* Side Nav Style */
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /*padding-top: 60px;*/
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    /*z-index: 10;*/
}
.sidenav a, .sidenav .closebtn {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus {
    color: #033556;
}
.sidenav .closebtn {
    /*position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 10px 1px 0;
    background: -webkit-linear-gradient(#efefef, #FFFFFF);
    background: -o-linear-gradient(#efefef, #FFFFFF);
    background: -moz-linear-gradient(#efefef, #FFFFFF);
    background: linear-gradient(#efefef, #FFFFFF);
    border-bottom: 1px solid #eeeeee;
    border-right: 1px dotted #eeeeee;
    text-align: right;
    text-decoration: none;*/
    padding: 5px 10px 0 0;
    color: #00b1f0;
    font-size: 32px;
    float: right;
}
.sidenav .closebtn:hover {
    padding: 5px 15px 0 0;
}
.leftSide-openNav {
    display: inline-block;
    color: transparent;
    font-size: 23px;
    cursor: pointer;
    position: fixed;
    left: -3px;
    top: 0;
    font-weight: 700;
    height: 100%;
    background: transparent;
    box-shadow: -3px 0px 5px #aaa;
}
.leftSide-openNav:hover {
    background: #0F467A;
}
    .leftSide-openNav .leftSide-openNav-wrap {
        display: block;
        color: #0F467A;
        writing-mode: sideways-lr;
        -webkit-writing-mode: vertical-lr;
        letter-spacing: 5px;
        height: 100%;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
    }
    .leftSide-openNav .leftSide-openNav-wrap:hover {
        color: #ffffff;
    }

.sidebar-header-wrapper {
    overflow: hidden;
    position: relative;
    /*width: 229px;
    height: 51px;
    left: 0;
    top: 0;
    z-index: 99999999;*/
    /*background: -webkit-linear-gradient(#efefef, #FFFFFF);
    background: -o-linear-gradient(#efefef, #FFFFFF);
    background: -moz-linear-gradient(#efefef, #FFFFFF);
    background: linear-gradient(#efefef, #FFFFFF);
    border-right: 1px dotted #eeeeee;*/
}
.sidebar-header {
    position: fixed;
    width: 199px;
    height: 52px;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px dotted #eeeeee;
    z-index: 100;
}

#contentRight {
    margin-bottom: 20px;
    padding: 15px 0;
    padding-top: 60px;
    -webkit-transition: margin-left .5s;
    -moz-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    -ms-transition: margin-left .5s;
    transition: margin-left .5s;
}

/* All Common Style */
.position-relative {
    position: relative
}
.disply-none {
    display: none
}
.text-center {
    text-align: center;
}

.header-title {
    color: #191970;
    text-align: center;
}
.header-title h2 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.top-categories-section {
    /*background-color: #b0c4de;*/
    background-color: #f2f6f9;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #efefef;
}

.top-categories-wrapper {
    display: table;
    margin: auto;
}

.order-detail-wrapper {
    overflow: hidden;
}

.addButton-wrapper {
    margin-bottom: 10px;
}

.table-style-wrapper {
    overflow: auto;
}
.table-style-wrapper table {
    font-size: 11px;
}

.order-notes-wrapper {
    margin: 0 0 0 20px;
    padding: 5px;
    min-height: 271px;
    color: #ffffff;
    background-color: #4b66a1;
    float: right;
    font-size: 10px;
    border: 1px solid #c5c5c5;
}
.order-notes-wrapper table {
    width: 100%;
}

.custom-dropdown {
    margin: 15px 0;
}

.color-section {
    /*margin-right: 10px;*/
    float: left;
    width: 35%;
}

.size-section {
    overflow: hidden;
    float: left;
    width: 63%;
}

.ui-tabs .ui-tabs-panel {
    margin-bottom: 10px;
}

.mis-title {
    padding: 0 2px 10px;
    color: #616e81;
    /*background-color: #f3f3f3;*/
    font-weight: 700;
    /*border: 1px solid #eee;*/
    text-align: center;
}

/*.mis-header {
    background: #365899;
    text-align: center;
}
.mis-header th {
    border: 1px solid #365899;
    border-bottom-color: #dddddd;
}*/
.mis-tbody tr:nth-child(2n) {
    background: #e9e9e9;
}


.common-search-section {
    margin-bottom: 8px;
    background: #ffffff;
    box-shadow: 0 0 3px #d5d5d5;
}
.search.common-search-wrapper {
    display: table;
    margin: auto;
    margin-bottom: 8px;
    padding: 3px;
    box-shadow: 0 0 0;
}
.formCover.common-search-wrapper .common-search-leftbar {
    margin-right: 50px;
    float: left;
}
.formCover.common-search-wrapper .common-search-rightbar {
    margin-top: 5px;
    float: left;
}
.common-search-wrapper table tbody tr td input[type="text"],
.common-search-wrapper table tbody tr td input[type="email"],
.common-search-wrapper table tbody tr td input[type="number"],
.common-search-wrapper table tbody tr td input[type="date"],
.common-search-wrapper table tbody tr td textarea {
    width: 178px;
    height: 17px;
}
.common-search-wrapper table tbody tr td select {
    width: 192px;
}

.alert-wrapper {
    background: lemonchiffon;
    border: 1px solid #eee;
    border-bottom: none;
}

.custom-modal-btn {
    margin-top: 10px;
    float: right;
}

.custom-tag {
    padding: 0 7px;
    color: #444444;
    background: #dddddd;
    font-weight: 600;
    border-bottom: 2px solid #c7c7c7;
    border-right: 2px solid #d5c5c5;
}
.title-tag {
    margin: 5px 0;
    padding: 5px 10px;
    color: #444;
    background: #f5f5f5;
    border: 1px solid #dddddd;
    text-transform: uppercase;
    font-weight: 600;
}

.custom-iframe-wrapper {
    width: 100%; 
    height: 415px; 
    margin: 0 8px 5px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 5px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width: 27px;
    height: 32px;
}

.ui-datepicker .ui-datepicker-title {
    margin: -3px 2.3em 2px;
}

#bar-chart {
    width: 100% !important;
    height: 300px !important;
}
#bar-chart-horizontal {
    width: 100% !important;
}

.ui-widget-overlay {
    background: #444444;
    opacity: .5;
}

/*
 * Scrollbar Style
 */
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    height: 15px;
    /* there must be 'bottom' or 'top' for ps__rail-x */
    bottom: 0px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    width: 15px;
    /* there must be 'right' or 'left' for ps__rail-y */
    right: 0;
    /* please don't change 'position' */
    position: absolute;
    z-index: 15;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
    opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
    background-color: transparent;
    opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, height .2s ease-in-out;
    -webkit-transition: background-color .2s linear, height .2s ease-in-out;
    height: 6px;
    /* there must be 'bottom' for ps__thumb-x */
    bottom: 2px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__thumb-y {
    background-color: transparent;
    border-radius: 6px;
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    width: 6px;
    /* there must be 'right' for ps__thumb-y */
    right: 2px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
    background-color: #999;
    height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    background-color: transparent;
    width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}
.ps__rail-x,
.ps__rail-y {
    opacity: 0.6;
}

/* Top Bar Drop Down */
.topbar-dropdown {
    float: right;
    position: relative;
    display: inline-block;
}
    .topbar-dropdown > .dropbtn {
        /*padding: 7px;*/
        height: 50px;
        background: transparent;
        cursor: pointer;
        border: none;
        outline: none;
    }
    .topbar-dropdown > .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 155px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        border-radius: 2px;
        z-index: 1;
    }
        .topbar-dropdown > .dropdown-content a {
            padding: 7px 16px;
            color: #666666;
            text-decoration: none;
            display: block;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
        }
    .topbar-dropdown a:hover {
        background-color: #eeeeee;
        color: #444444;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .topbar-dropdown .show {
        display: block;
    }

#collapseDiv {
    display: none;
}
.toggle-div {
    position: absolute;
    top: 15px;
    right: 9px;
    padding: 8px 10px;
    color: #fff;
    background: #03456a;
    border: 1px solid #033556;
    border-radius: 2px;
    line-height: 0;
    cursor: pointer;
}