/* Base Styles */
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
    margin: 0;
    padding-left: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    line-height: 17px;
    font-size: 15px;
    position: relative;
    color: #ffffff;
}

#cssmenu {
    margin-top: 53px;
    margin-bottom: 29px;
}

#cssmenu {
    color: #1A6A23;
}

    #cssmenu a {
        line-height: 15px;
    }

    #cssmenu ul ul {
        padding: 0px;
    }

    #cssmenu > ul > li > a {
        padding: 7px;
        padding-right: 0;
        display: block;
        color: #ffffff;
        font-size: 14px;
        border-bottom: 1px dotted rgba(0, 177, 240, 0.13);
    }

    #cssmenu > ul > li:last-child > a {
        border-bottom: none !important;
    }

    #cssmenu > ul > li > a:hover {
        background: rgba(0, 177, 240, 0.2);
        /*box-shadow: 0 0 2px 0px #00b1f0;*/
        text-decoration: none;
    }

    #cssmenu > ul > li.active {
        border-bottom: none;
    }

    #cssmenu > ul > li.has-sub > a span {
        background: url('/Content/images/icon_plus.png') 96% center no-repeat;
    }

    #cssmenu > ul > li.has-sub.active > a span {
        background: url('/Content/images/icon_minus.png') 96% center no-repeat;
    }

    #cssmenu ul ul {
        display: none;
    }

        #cssmenu ul ul::before {
            content: '';
            position: absolute;
            left: 7px;
            top: 0px;
            width: 1px;
            height: 100%;
            background: rgba(134, 204, 249, 0.4);
            z-index: 10;
        }

        #cssmenu ul ul li {
            padding: 0;
            background: rgba(0, 0, 0, 0.3);
        }

            #cssmenu ul ul li:last-child {
                border-bottom: none;
            }

            #cssmenu ul ul li::before {
                content: '';
                position: absolute;
                left: 8px;
                top: 14px;
                width: 10px;
                border-bottom: 1px solid rgba(134, 204, 249, 0.4);
            }

        #cssmenu ul ul a {
            padding: 6px 20px;
            padding-right: 0;
            display: block;
            color: #ffffff;
            font-size: 13px;
            font-weight: normal;
            line-height: 18px;
        }

            #cssmenu ul ul a:before {
                /*content: '\00BB';*/
                position: absolute;
                left: 10px;
                color: #e94f31;
            }

        #cssmenu ul ul li a:hover {
            color: #fff;
            background: rgba(0, 177, 240, 0.2);
        }

        #cssmenu ul ul ul li {
            background: rgba(0, 0, 0, 0.3);
        }

        #cssmenu ul ul ul::before {
            content: '';
            position: absolute;
            left: 17px;
            top: -15px;
            width: 1px;
            height: 100%;
            background: rgba(134, 204, 249, 0.4);
            z-index: 10;
        }

        #cssmenu ul ul ul li::before {
            content: '';
            position: absolute;
            left: 17px;
            top: 15px;
            width: 10px;
            border-bottom: 1px solid rgba(134, 204, 249, 0.4);
        }

        #cssmenu ul ul ul li a {
            font-size: 0.86em;
            padding-left: 30px;
            padding-right: 0;
        }

        #cssmenu ul ul ul ul::before {
            content: '';
            position: absolute;
            left: 27px;
            top: -15px;
            width: 1px;
            height: 100%;
            background: rgba(134, 204, 249, 0.4);
            z-index: 10;
        }

        #cssmenu ul ul ul ul li:before {
            content: '';
            position: absolute;
            left: 27px;
            top: 15px;
            width: 10px;
            border-bottom: 1px solid rgba(134, 204, 249, 0.4);
        }

        #cssmenu ul ul ul ul li a {
            padding-left: 40px;
            padding-right: 0;
            font-size: 0.83em;
        }

        #cssmenu ul ul li a.active-menu {
            background: rgba(0, 177, 240, 0.4);
        }
