@model SCERP.Web.Areas.HRM.Models.ViewModels.DistrictViewModel
@{
    Layout = null;
    int rowCount = 1;
}

<div>
    <link href="~/Content/Common/PdfReport.css" rel="stylesheet" />
    <table class="pdfReportTable" style="border: 0;margin-bottom:5px">
        <thead class="reportHeader">
            <tr class="reportTitle">
                <td colspan="15" align="center">District List</td>
            </tr>
            <tr>
                <td>Date:@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
            </tr>
        </thead>
    </table>

    <table class="pdfReportTable" border="1">
        <thead class="reportThead">
            <tr class="reportTR">
                <td class="reportTH">
                    SL. No
                </td>
                <td class="reportTH">
                    District
                </td>
                <td class="reportTH">
                    Country
                </td>
            </tr>
        </thead>
        <tbody class="reportBody">

            @foreach (var district in Model.Districts)
                    {
                    <tr class="reportTR">
                        <td class="reportTD">
                            @rowCount
                        </td>
                        <td class="reportTD">
                            @district.Name
                        </td>
                        <td class="reportTD">
                            @district.Country.CountryName
                        </td>
                    </tr>
                        rowCount += 1;
                    }

        </tbody>

    </table>


</div>
