@model IEnumerable<SCERP.Model.AccountingModel.Acc_Currency>
@{
    ViewBag.Title = "Cost Centre ";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="header-title">
    <h2>Multi Currency Assign</h2>
</div>
<section class="search formCover">

    <div class="additem">
        @{
            if (!Model.Any())
            {
                <div class="addButton-wrapper">
                    <button class="AjaxPopup btn btn-primary" action="/Accounting/AccCurrency/Edit">Add new</button>
                </div>
            }
        }

        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false, ajaxUpdateContainerId: "grid");
            grid.Bind(Model, rowCount: Model.Count(), autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns: grid.Columns(
                    grid.Column("FirstCurName", header: "First CurName"),
                    grid.Column("FirstCurValue", header: "First CurValue"),
                    grid.Column("FirstCurSymbol", header: "First CurSymbol"),
                    grid.Column("SecendCurName", header: "Second CurName"),
                    grid.Column("SecendCurValue", header: "Second CurValue"),
                    grid.Column("SecendCurSymbol", header: "Second CurSymbol"),
                    grid.Column("ThirdCurName", header: "Third CurName"),
                    grid.Column("ThirdCurValue", header: "Third CurValue"),
                    grid.Column("ThirdCurSymbol", header: "Third CurSymbol"),
                    grid.Column("CurDate", header: "End Date", format: @<text>@(item.CurDate == null ? "" : item.CurDate.ToString("dd/MM/yyyy"))</text>),
                    grid.Column(header: "Edit", format: @<text><button class="edit" action="/Accounting/AccCurrency/Edit?CurrencyId=@item.CurrencyId"></button></text>)

              ));
        }
    </div>

</section>
