@using SCERP.Common
@model SCERP.Web.Areas.Inventory.Models.ViewModels.InventoryApprovalStatusViewModel
@{
    ViewBag.Title = "ApprovalStatus";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using (Html.BeginForm("Index", "InventoryApprovalStatus", FormMethod.Get, new { @class = "InventoryApprovalStatusSearchForm submit-allow" }))
{
    @Html.HiddenFor(x => x.IsSearch)

    <div class="header-title">
        <h2>Inventory ApprovalStatus</h2>
    </div>
    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Status:")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ApprovalStatusName, new {@data_val = "false", @placeholder = " Approval Status"})
                    </td>
                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>
        </div>
    </section>

}

<section class="search formCover">
    <div class="additem">
        <div class="addButton-wrapper">
            <button class="AjaxPopup addButton" action="/Inventory/InventoryApprovalStatus/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.InventoryApprovalStatuses, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
            tableStyle: "webgrid-table webgrid",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            firstText: "First",
            lastText: "Last",
            nextText: "Next",
            mode: WebGridPagerModes.All,
            previousText: "Previous",
            columns:
            grid.Columns(
            grid.Column("StatusName", header: "Approval Status"),
            grid.Column("Description", header: "Description"),
            grid.Column("Detail/Edit",canSort:false,format:@<text><button class="edit" action="/Inventory/InventoryApprovalStatus/Edit?ApprovalStatusId=@item.ApprovalStatusId"></button></text>),
            grid.Column("Delete",canSort:false,format:@<text><button class="delete" action="/Inventory/InventoryApprovalStatus/Delete?ApprovalStatusId=@item.ApprovalStatusId"></button></text>)));
        }
    </div>
</section>

