@using SCERP.Common
@model SCERP.Web.Areas.TaskManagement.Models.ReportImageViewModel
@{
    Layout = null;
}

<p>Project Location:@Model.ReportImage.ProjectReportUrl</p>
<img src="@Model.ReportImage.ReportImageUrl"  style="width:900px;height:auto;">


