@using SCERP.Common
@model SCERP.Web.Areas.Production.Models.ProductionViewModel
@{
    Layout = null;
}
  <div class="additem">

    <fieldset >
        <legend>Input</legend>
        <div class="DyeingInputList">
            @Html.Partial("~/Areas/Production/Views/Dyeing/_DInList.cshtml")
        </div>
    </fieldset>

</div>
<div class="additem">
    <fieldset >
        <legend>Output</legend>
        <div class="DyeingOutputList">
            @Html.Partial("~/Areas/Production/Views/Dyeing/_DOutList.cshtml")
        </div>
    </fieldset>
</div>

