 body {
        margin: 0;
        padding: 0;
        font-family: cursive;
        font-size: 14px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: cursive;
        color: #666666;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }
    ::-moz-selection {
        background: #FDFDC2;
        color: greenyellow;
    }
    ::selection {
        background: #FDFDC2;
        color: #95957F;
    }


    .main-container {
        overflow: hidden;
        width: 65%;
        margin: auto;
    }
    .col-item-4 {
        width: 31%;
        background: #ddd;
        float: left;
        margin: 0 1%;
        border: 1px solid #ccc;
    }
    .top-bar {
        overflow: hidden;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .head-title {
        padding: 7px 0;
        display: block;
        text-align: center;
    }
    .header-title {
        margin: 0 18px 30px;
        text-align: center;
        background: #ddd;
        overflow: hidden;
        border: 2px solid #ccc7c7;
    }
    .header-title h2 {
        margin: 6px 0;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    table#t01 th {
        background-color: #DDDDDD;
        color: #222222;
        text-align: left;
    }
    .buyer-info, .buyer-cost {
        overflow: hidden;
        margin: 0 18px 20px;
    }
    .job-title {
        background: #ddd;
        width: 35%;
        float: left;
        margin: 25px auto;
        border: 1px solid #ccc;
    }
    .job-title h4 {
        margin: 5px 0;
        padding-left: 20%;
    }
    .sample-product-wrapper {
        overflow: hidden;
        width: auto;
        padding: 20px;
        border: 2px solid #ccc;
    }
    .sample-product {
        width: 50%;
        margin: auto;
    }
    .sample-product img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .consumption-wrapper {
        position: relative;
        height: 380px;
    }