@{
    ViewBag.Title = "Index";
}



<div class="notification"></div>


@*<script type="text/javascript">

    window.setInterval(function() {
   
        jQuery.Ajax({
            url: '/Merchandising/NotificationBoard/Index',
            type: "GET",
         
            container: '.notification'
        });


    }, 10 * 1000);

</script>*@