<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="SCERPDBContext" connectionString="metadata=res://*/SCERP.csdl|res://*/SCERP.ssdl|res://*/SCERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC_SERVER;initial catalog=SCERPDB_PILOT;user id=sa;password=sa@#$1;Connection Timeout=3600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SCERPDBContext" connectionString="metadata=res://*/SCERP.csdl|res://*/SCERP.ssdl|res://*/SCERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SCERPDB_PILOT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
