@using SCERP.Common
@model SCERP.Web.Areas.Commercial.Models.ViewModel.ExportViewModel
@{
    ViewBag.Title = "PackingList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section styles
{
    <link href="~/Content/Common/SingleDropdownMenu.css" rel="stylesheet" />
}
<div class="header-title">
    <h2>Packing List Report</h2>
</div>

<section class="common-search-section">
    <div class="search formCover common-search-wrapper">
        @using (Html.BeginForm("PackingList", "Export", FormMethod.Get, new { @class = "PackingListForm ignore-validation" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Packing List ")
                    </td>
                    <td>
                        <div style="margin-left: 10px;margin-bottom: 3px;">
                            <div class="dropdown">
                                <button class="dropbtn">REPORT▼</button>
                                <div class="dropdown-content">
                                    <a style="cursor: pointer" target="_blank" onclick="CommPackingList(1)">PDF</a>
                                    <a style="cursor: pointer" target="_blank" onclick="CommPackingList(3)">Excel</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        }
    </div>
</section>


@section scripts
{
    <script type="text/javascript">
        function CommPackingList(reportTypeId) {
            var searchurl = '/Commercial/Report/CommPackingList?reportTypeId=' + reportTypeId;
            window.open(searchurl);
        }
    </script>
}





