<?xml version="1.0"?>
<connectionStrings>
  <add name="SCERPDBContext" connectionString="metadata=res://*/SCERP.csdl|res://*/SCERP.ssdl|res://*/SCERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MYERPDB;persist security info=True;user id=sa;password=dsl@1234;Connection Timeout=3600;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />

  <!--<add name="SCERPDBContext" connectionString="metadata=res://*/SCERP.csdl|res://*/SCERP.ssdl|res://*/SCERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SCERPDB_PILOT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 
  <add name="daypilot" connectionString="data source=localhost;initial catalog=SCERPDB_PILOT;persist security info=True;user id=sa;password=sa#$@1;Connection Timeout=3600;"
    providerName="System.Data.SqlClient" />
</connectionStrings>
