USE [SCERPDB]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[FullAddress] [nvarchar](200) NULL,
	[Location] [nvarchar](50) NULL,
	[PostOffice] [nvarchar](50) NULL,
	[PostCode] [nvarchar](50) NULL,
	[PoliceStationId] [int] NULL,
	[DistrictId] [int] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[FullAddess] [nvarchar](200) NULL,
	[Loaction] [nvarchar](50) NULL,
	[Postoffice] [nvarchar](50) NULL,
	[PostCode] [nvarchar](50) NULL,
	[BranchId] [int] NOT NULL,
	[PoliceStatuinId] [int] NOT NULL,
	[DistictId] [int] NOT NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EducationLevel]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EducationLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[EmployeeCardId] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MothersName] [nvarchar](100) NULL,
	[FathersName] [nvarchar](100) NULL,
	[SpousesName] [nvarchar](100) NULL,
	[DateOfBirth] [datetime] NULL,
	[Gender] [tinyint] NULL,
	[MaritalStatus] [tinyint] NULL,
	[MariageAnniversary] [datetime] NULL,
	[Nationality] [nvarchar](50) NULL,
	[NationalIdNo] [nvarchar](100) NULL,
	[BirthRegistrationNo] [nvarchar](100) NULL,
	[Religion] [tinyint] NULL,
	[TaxIdentificationNo] [nvarchar](100) NULL,
	[DrivingLicenceNo] [nvarchar](100) NULL,
	[PassportNo] [nvarchar](100) NULL,
	[BloodGroupId] [tinyint] NULL,
	[PhotographPath] [nvarchar](100) NULL,
	[EmergencyContactPerson] [uniqueidentifier] NULL,
	[EmergencyContactPersonRelation] [nvarchar](100) NULL,
	[WorkGroupId] [int] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Employee_1] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeBankInfo]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeBankInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[BankName] [nvarchar](50) NULL,
	[BranchName] [nvarchar](50) NULL,
	[AccountType] [tinyint] NULL,
	[AccountName] [nvarchar](50) NULL,
	[AccountNumber] [nvarchar](50) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeeBankInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeCategory]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeeCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeDesignation]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDesignation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeeDesignation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeDetail]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[EmployeeTypeId] [int] NULL,
	[EmployeeCategoryId] [int] NULL,
	[EmployeeDesignationId] [int] NULL,
	[EmployeeBranchId] [int] NULL,
	[EmployeeDepartmentId] [int] NULL,
	[EmployeeGradeId] [int] NULL,
	[EmployeeSupervisorId] [uniqueidentifier] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeeDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeDocuments]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Path] [nvarchar](50) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeEducation]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeEducation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[EducationLevelId] [int] NULL,
	[ExamTitle] [nvarchar](50) NULL,
	[Institute] [nvarchar](50) NULL,
	[Result] [nvarchar](50) NULL,
	[PassingYear] [int] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeeEducation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeEntitlement]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeEntitlement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[EntitlementId] [int] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeGrade]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeGrade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeeGrade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeInOut]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeInOut](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[TransactionTime] [datetime] NOT NULL,
	[Status] [tinyint] NULL,
	[Note] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeLeave]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLeave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[LeaveTypeId] [int] NULL,
	[Reason] [nvarchar](200) NULL,
	[DayStatus] [tinyint] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[AlternatePersonId] [uniqueidentifier] NULL,
	[Action] [tinyint] NULL,
	[ApprovedBy] [uniqueidentifier] NULL,
	[Comment] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeePermanentAddress]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePermanentAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[PermanentMailingAddress] [nvarchar](200) NULL,
	[PermanentDistrictId] [int] NULL,
	[PermanentPoliceStationId] [int] NULL,
	[PermanentPostOffice] [nvarchar](50) NULL,
	[PermanentPostCode] [nvarchar](50) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeePermanentAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeePresentAddress]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePresentAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[PresentMailingAddress] [nvarchar](200) NULL,
	[PresentDistrictId] [int] NULL,
	[PresentPoliceStationId] [int] NULL,
	[PresentPostOffice] [nvarchar](50) NULL,
	[PresentPostCode] [nvarchar](50) NULL,
	[HomePhone] [nvarchar](50) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[OfficePhone] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[AlternateEmailAddress] [nvarchar](50) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeePresentAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeSalary]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSalary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[GrossSalary] [decimal](18, 0) NULL,
	[BasicSalary] [decimal](18, 0) NULL,
	[HouseRent] [decimal](18, 0) NULL,
	[MedicalAllownce] [decimal](18, 0) NULL,
	[EntertainmentAllownce] [decimal](18, 0) NULL,
	[ConveyanceAllownce] [decimal](18, 0) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeeSalary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeShift]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeShift](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[WorkShiftId] [int] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeSkillLevel]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSkillLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SkillLevel] [tinyint] NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_EmployeeSkillLevel] PRIMARY KEY CLUSTERED 
(
	[SkillLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeSkillSet]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSkillSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[SkillId] [int] NULL,
	[SkillLevel] [tinyint] NULL,
	[EmploymentId] [int] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeType]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_EmployeeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employment]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
	[Location] [nvarchar](50) NULL,
	[DepartmentId] [int] NULL,
	[DesignationId] [int] NULL,
	[Respinsibilities] [nvarchar](500) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Employment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Entitlement]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entitlement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Entitlement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LeaveSettings]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeTypeId] [int] NOT NULL,
	[LeaveTypeId] [int] NOT NULL,
	[NoOfDays] [int] NOT NULL,
	[DayStatus] [tinyint] NOT NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_LeaveSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LeaveType]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveType](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_LeaveType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PoliceStation]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoliceStation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_PoliceStation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SkillSet]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SkillSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkGroup]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[WorkShiftId] [int] NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_WorkGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkShift]    Script Date: 18-Jun-14 6:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkShift](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StartTime] [nvarchar](50) NOT NULL,
	[EndTime] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CDT] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[EDT] [datetime] NULL,
	[EditedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_WorkShift] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([Id], [Name], [FullAddress], [Location], [PostOffice], [PostCode], [PoliceStationId], [DistrictId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'Norshingpur', N'27, Norshingpur', N'Narayongonj', N'dasa', N'gdgdfgdf', NULL, NULL, CAST(0x0000A34B00B29927 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
INSERT [dbo].[Branch] ([Id], [Name], [FullAddress], [Location], [PostOffice], [PostCode], [PoliceStationId], [DistrictId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'Shacher', N'Sacher Bazar, Road No 23 ', N'Sacher', N'Sacheer', N'1245', NULL, 2, CAST(0x0000A34B00D57D13 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
INSERT [dbo].[Branch] ([Id], [Name], [FullAddress], [Location], [PostOffice], [PostCode], [PoliceStationId], [DistrictId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (3, N'asdfsd', N'asdfsd', N'asdfsdf', N'sdfsdf', N'asdfsd', 1, 2, NULL, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', CAST(0x0000A34B00F64461 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1)
SET IDENTITY_INSERT [dbo].[Branch] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'Software Department', N'Test Software Department', CAST(0x0000A34C00B74C08 AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Department] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'Hardware Department', N'Hardware Department Desc', CAST(0x0000A34C00B74C08 AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Department] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (3, N'Network Department', N'Network Department Description', CAST(0x0000A34C00B74C08 AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([Id], [Name], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'Barisal', CAST(0x0000A34B00B8CF8B AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
INSERT [dbo].[District] ([Id], [Name], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'Chandpur', CAST(0x0000A34B00B94677 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
INSERT [dbo].[District] ([Id], [Name], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (3, N'Comilla', CAST(0x0000A34D00AD9591 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[District] OFF
SET IDENTITY_INSERT [dbo].[EducationLevel] ON 

INSERT [dbo].[EducationLevel] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'B.Sc(Hon''s)', N'ICE', CAST(0x0000A2AF00000000 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', CAST(0x0000A2AF00000000 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1)
SET IDENTITY_INSERT [dbo].[EducationLevel] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[EmployeeBankInfo] ON 

INSERT [dbo].[EmployeeBankInfo] ([Id], [EmployeeId], [BankName], [BranchName], [AccountType], [AccountName], [AccountNumber], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', N'erter', N'Dhaka', 3, N'ertert', N'tert', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[EmployeeBankInfo] ([Id], [EmployeeId], [BankName], [BranchName], [AccountType], [AccountName], [AccountNumber], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', N'asdfsdafasdaf', N'sdfsdafas', 1, N'Akher', N'asdfasdfas', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[EmployeeBankInfo] ([Id], [EmployeeId], [BankName], [BranchName], [AccountType], [AccountName], [AccountNumber], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (3, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', N'asdfsdafasdaf', N'sdafsdf', 2, N'sdfsdf', N'1234567', CAST(0x0000A34D00B7F0E5 AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EmployeeBankInfo] OFF
SET IDENTITY_INSERT [dbo].[EmployeeCategory] ON 

INSERT [dbo].[EmployeeCategory] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'Manager', N'Test Manager Description', CAST(0x0000A34B00C1D25C AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', CAST(0x0000A34B00C1D901 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1)
SET IDENTITY_INSERT [dbo].[EmployeeCategory] OFF
SET IDENTITY_INSERT [dbo].[EmployeeDesignation] ON 

INSERT [dbo].[EmployeeDesignation] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'Software Engineer', N'Test Software Engineer', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[EmployeeDesignation] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'Project Manager', N'Project Manager Description', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[EmployeeDesignation] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (3, N'Managing Director', N'Managing Director Desc', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EmployeeDesignation] OFF
SET IDENTITY_INSERT [dbo].[EmployeeDetail] ON 

INSERT [dbo].[EmployeeDetail] ([Id], [EmployeeId], [EmployeeTypeId], [EmployeeCategoryId], [EmployeeDesignationId], [EmployeeBranchId], [EmployeeDepartmentId], [EmployeeGradeId], [EmployeeSupervisorId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[EmployeeDetail] ([Id], [EmployeeId], [EmployeeTypeId], [EmployeeCategoryId], [EmployeeDesignationId], [EmployeeBranchId], [EmployeeDepartmentId], [EmployeeGradeId], [EmployeeSupervisorId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09994', NULL, NULL, NULL, NULL, 2, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EmployeeDetail] OFF
SET IDENTITY_INSERT [dbo].[EmployeeEducation] ON 

INSERT [dbo].[EmployeeEducation] ([Id], [EmployeeId], [EducationLevelId], [ExamTitle], [Institute], [Result], [PassingYear], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1, N'BSC', N'IU', N'3.5', 2014, CAST(0x0000A2AF00000000 AS DateTime), NULL, CAST(0x0000A2AF00000000 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09325', 1)
INSERT [dbo].[EmployeeEducation] ([Id], [EmployeeId], [EducationLevelId], [ExamTitle], [Institute], [Result], [PassingYear], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (6, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1, N'sdfsd', N'sdfsd', N'45', 124, CAST(0x0000A34C00EC1D5E AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EmployeeEducation] OFF
SET IDENTITY_INSERT [dbo].[EmployeeGrade] ON 

INSERT [dbo].[EmployeeGrade] ([Id], [Name], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'Grade1', N'Test Grade1', CAST(0x0000A34B00C145BC AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', CAST(0x0000A34B00C159A6 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1)
SET IDENTITY_INSERT [dbo].[EmployeeGrade] OFF
SET IDENTITY_INSERT [dbo].[EmployeePresentAddress] ON 

INSERT [dbo].[EmployeePresentAddress] ([Id], [EmployeeId], [PresentMailingAddress], [PresentDistrictId], [PresentPoliceStationId], [PresentPostOffice], [PresentPostCode], [HomePhone], [MobilePhone], [OfficePhone], [EmailAddress], [AlternateEmailAddress], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', N'27, Kazi Nazrul Islam Avenue, Dhaka', NULL, NULL, NULL, NULL, NULL, N'01789242358', NULL, N'test@yahoo.com', NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[EmployeePresentAddress] ([Id], [EmployeeId], [PresentMailingAddress], [PresentDistrictId], [PresentPoliceStationId], [PresentPostOffice], [PresentPostCode], [HomePhone], [MobilePhone], [OfficePhone], [EmailAddress], [AlternateEmailAddress], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09994', NULL, NULL, NULL, NULL, NULL, N'8622915', N'01718067924', NULL, N'rabbi1982@yahoo.com', N'polash271@gmail.com', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EmployeePresentAddress] OFF
SET IDENTITY_INSERT [dbo].[EmployeeSalary] ON 

INSERT [dbo].[EmployeeSalary] ([Id], [EmployeeId], [GrossSalary], [BasicSalary], [HouseRent], [MedicalAllownce], [EntertainmentAllownce], [ConveyanceAllownce], [StartDate], [EndDate], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (25, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09994', CAST(100200 AS Decimal(18, 0)), CAST(50100 AS Decimal(18, 0)), CAST(30060 AS Decimal(18, 0)), CAST(10020 AS Decimal(18, 0)), CAST(5010 AS Decimal(18, 0)), CAST(5010 AS Decimal(18, 0)), NULL, NULL, CAST(0x0000A34E00EEC1B0 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
INSERT [dbo].[EmployeeSalary] ([Id], [EmployeeId], [GrossSalary], [BasicSalary], [HouseRent], [MedicalAllownce], [EntertainmentAllownce], [ConveyanceAllownce], [StartDate], [EndDate], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (26, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', CAST(100 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)), CAST(30 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), NULL, NULL, CAST(0x0000A34E00F15D04 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EmployeeSalary] OFF
SET IDENTITY_INSERT [dbo].[EmployeeSkillLevel] ON 

INSERT [dbo].[EmployeeSkillLevel] ([Id], [SkillLevel], [Title], [Description]) VALUES (1, 1, N'Excellent', N'Excellent Skill Level')
INSERT [dbo].[EmployeeSkillLevel] ([Id], [SkillLevel], [Title], [Description]) VALUES (2, 2, N'Very Good', N'Very Good Skill Level')
INSERT [dbo].[EmployeeSkillLevel] ([Id], [SkillLevel], [Title], [Description]) VALUES (3, 3, N'Good', N'Good Skill Level')
SET IDENTITY_INSERT [dbo].[EmployeeSkillLevel] OFF
SET IDENTITY_INSERT [dbo].[Employment] ON 

INSERT [dbo].[Employment] ([Id], [EmployeeId], [CompanyName], [Location], [DepartmentId], [DesignationId], [Respinsibilities], [FromDate], [ToDate], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (24, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', N'Softcode', N'Dhaka', 1, 2, N'Test', CAST(0x0000A34C00000000 AS DateTime), CAST(0x0000A34E00000000 AS DateTime), CAST(0x0000A34C012675A5 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
INSERT [dbo].[Employment] ([Id], [EmployeeId], [CompanyName], [Location], [DepartmentId], [DesignationId], [Respinsibilities], [FromDate], [ToDate], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (25, N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', N'Softcode', N'Dhaka', NULL, NULL, NULL, CAST(0x0000A34C00000000 AS DateTime), CAST(0x0000A34E00000000 AS DateTime), CAST(0x0000A34E00B9AD03 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Employment] OFF
SET IDENTITY_INSERT [dbo].[Entitlement] ON 

INSERT [dbo].[Entitlement] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'Group Insurance', N'Group Insurance Desc.', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Entitlement] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (3, N'Providend Fund', N'Providend Fund', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Entitlement] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (4, N'Gratuity', N'Gratuity Description', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Entitlement] OFF
SET IDENTITY_INSERT [dbo].[PoliceStation] ON 

INSERT [dbo].[PoliceStation] ([Id], [Name], [DistrictId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'Kochua', 2, NULL, NULL, CAST(0x0000A34B010BD633 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 0)
INSERT [dbo].[PoliceStation] ([Id], [Name], [DistrictId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'Agailjhara', 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PoliceStation] ([Id], [Name], [DistrictId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (3, N'Muladi', 1, CAST(0x0000A34B00CE45DC AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', CAST(0x0000A34B00FAF1E2 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1)
SET IDENTITY_INSERT [dbo].[PoliceStation] OFF
SET IDENTITY_INSERT [dbo].[SkillSet] ON 

INSERT [dbo].[SkillSet] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'ASP.NET', N'ASP.NET Description', CAST(0x0000A34C00ADB756 AS DateTime), NULL, CAST(0x0000A34C00ADB756 AS DateTime), NULL, 0)
INSERT [dbo].[SkillSet] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'C#', N'C# Description', CAST(0x0000A34C00ADB756 AS DateTime), NULL, CAST(0x0000A34C00ADB756 AS DateTime), NULL, 0)
INSERT [dbo].[SkillSet] ([Id], [Title], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (3, N'ASP.NET MVC', N'ASP.NET MVC Description', CAST(0x0000A34C00ADB756 AS DateTime), NULL, CAST(0x0000A34C00ADB756 AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[SkillSet] OFF
SET IDENTITY_INSERT [dbo].[WorkGroup] ON 

INSERT [dbo].[WorkGroup] ([Id], [Title], [Description], [WorkShiftId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'WorkGroup1', N'Test work group1', 1, CAST(0x0000A34B00C065E8 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', CAST(0x0000A34B00C0A657 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1)
INSERT [dbo].[WorkGroup] ([Id], [Title], [Description], [WorkShiftId], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (2, N'Manager222', N'swss', 1, CAST(0x0000A34C00EC375D AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[WorkGroup] OFF
SET IDENTITY_INSERT [dbo].[WorkShift] ON 

INSERT [dbo].[WorkShift] ([Id], [Name], [StartTime], [EndTime], [StartDate], [EndDate], [Description], [CDT], [CreatedBy], [EDT], [EditedBy], [IsActive]) VALUES (1, N'DayShift', N'10AM', N'6PM', CAST(0x0000A34B00BF2057 AS DateTime), CAST(0x0000A34B00BF2057 AS DateTime), N'This is test Desc.', CAST(0x0000A34B00BF2057 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', CAST(0x0000A34B00BF2057 AS DateTime), N'99f98b53-9d5c-48b1-8e4f-ba4f4ca09993', 1)
SET IDENTITY_INSERT [dbo].[WorkShift] OFF
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_District]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_PoliceStation] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[PoliceStation] ([Id])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_PoliceStation]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Branch]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_District] FOREIGN KEY([DistictId])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_District]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_PoliceStation] FOREIGN KEY([PoliceStatuinId])
REFERENCES [dbo].[PoliceStation] ([Id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_PoliceStation]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_WorkGroup] FOREIGN KEY([WorkGroupId])
REFERENCES [dbo].[WorkGroup] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_WorkGroup]
GO
ALTER TABLE [dbo].[EmployeeBankInfo]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeBankInfo_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeBankInfo] CHECK CONSTRAINT [FK_EmployeeBankInfo_Employee]
GO
ALTER TABLE [dbo].[EmployeeDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetail_Branch] FOREIGN KEY([EmployeeBranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDetail] CHECK CONSTRAINT [FK_EmployeeDetail_Branch]
GO
ALTER TABLE [dbo].[EmployeeDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetail_Department] FOREIGN KEY([EmployeeDepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDetail] CHECK CONSTRAINT [FK_EmployeeDetail_Department]
GO
ALTER TABLE [dbo].[EmployeeDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetail_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeDetail] CHECK CONSTRAINT [FK_EmployeeDetail_Employee]
GO
ALTER TABLE [dbo].[EmployeeDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetail_EmployeeCategory] FOREIGN KEY([EmployeeCategoryId])
REFERENCES [dbo].[EmployeeCategory] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDetail] CHECK CONSTRAINT [FK_EmployeeDetail_EmployeeCategory]
GO
ALTER TABLE [dbo].[EmployeeDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetail_EmployeeDesignation] FOREIGN KEY([EmployeeDesignationId])
REFERENCES [dbo].[EmployeeDesignation] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDetail] CHECK CONSTRAINT [FK_EmployeeDetail_EmployeeDesignation]
GO
ALTER TABLE [dbo].[EmployeeDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetail_EmployeeGrade] FOREIGN KEY([EmployeeGradeId])
REFERENCES [dbo].[EmployeeGrade] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDetail] CHECK CONSTRAINT [FK_EmployeeDetail_EmployeeGrade]
GO
ALTER TABLE [dbo].[EmployeeDetail]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDetail_EmployeeType] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[EmployeeType] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDetail] CHECK CONSTRAINT [FK_EmployeeDetail_EmployeeType]
GO
ALTER TABLE [dbo].[EmployeeDocuments]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDocuments_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeDocuments] CHECK CONSTRAINT [FK_EmployeeDocuments_Employee]
GO
ALTER TABLE [dbo].[EmployeeEducation]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEducation_EducationLevel] FOREIGN KEY([EducationLevelId])
REFERENCES [dbo].[EducationLevel] ([Id])
GO
ALTER TABLE [dbo].[EmployeeEducation] CHECK CONSTRAINT [FK_EmployeeEducation_EducationLevel]
GO
ALTER TABLE [dbo].[EmployeeEducation]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEducation_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeEducation] CHECK CONSTRAINT [FK_EmployeeEducation_Employee]
GO
ALTER TABLE [dbo].[EmployeeEntitlement]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEntitlement_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeEntitlement] CHECK CONSTRAINT [FK_EmployeeEntitlement_Employee]
GO
ALTER TABLE [dbo].[EmployeeEntitlement]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEntitlement_Entitlement] FOREIGN KEY([EntitlementId])
REFERENCES [dbo].[Entitlement] ([Id])
GO
ALTER TABLE [dbo].[EmployeeEntitlement] CHECK CONSTRAINT [FK_EmployeeEntitlement_Entitlement]
GO
ALTER TABLE [dbo].[EmployeeInOut]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeInOut_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeInOut] CHECK CONSTRAINT [FK_EmployeeInOut_Employee]
GO
ALTER TABLE [dbo].[EmployeeLeave]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeLeave_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeLeave] CHECK CONSTRAINT [FK_EmployeeLeave_Employee]
GO
ALTER TABLE [dbo].[EmployeeLeave]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeLeave_LeaveType] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[LeaveType] ([Id])
GO
ALTER TABLE [dbo].[EmployeeLeave] CHECK CONSTRAINT [FK_EmployeeLeave_LeaveType]
GO
ALTER TABLE [dbo].[EmployeePermanentAddress]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePermanentAddress_District] FOREIGN KEY([PermanentDistrictId])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[EmployeePermanentAddress] CHECK CONSTRAINT [FK_EmployeePermanentAddress_District]
GO
ALTER TABLE [dbo].[EmployeePermanentAddress]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePermanentAddress_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeePermanentAddress] CHECK CONSTRAINT [FK_EmployeePermanentAddress_Employee]
GO
ALTER TABLE [dbo].[EmployeePermanentAddress]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePermanentAddress_PoliceStation] FOREIGN KEY([PermanentPoliceStationId])
REFERENCES [dbo].[PoliceStation] ([Id])
GO
ALTER TABLE [dbo].[EmployeePermanentAddress] CHECK CONSTRAINT [FK_EmployeePermanentAddress_PoliceStation]
GO
ALTER TABLE [dbo].[EmployeePresentAddress]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePresentAddress_District] FOREIGN KEY([PresentDistrictId])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[EmployeePresentAddress] CHECK CONSTRAINT [FK_EmployeePresentAddress_District]
GO
ALTER TABLE [dbo].[EmployeePresentAddress]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePresentAddress_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeePresentAddress] CHECK CONSTRAINT [FK_EmployeePresentAddress_Employee]
GO
ALTER TABLE [dbo].[EmployeePresentAddress]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePresentAddress_PoliceStation] FOREIGN KEY([PresentPoliceStationId])
REFERENCES [dbo].[PoliceStation] ([Id])
GO
ALTER TABLE [dbo].[EmployeePresentAddress] CHECK CONSTRAINT [FK_EmployeePresentAddress_PoliceStation]
GO
ALTER TABLE [dbo].[EmployeeSalary]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSalary_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeSalary] CHECK CONSTRAINT [FK_EmployeeSalary_Employee]
GO
ALTER TABLE [dbo].[EmployeeShift]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShift_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeShift] CHECK CONSTRAINT [FK_EmployeeShift_Employee]
GO
ALTER TABLE [dbo].[EmployeeShift]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShift_WorkShift] FOREIGN KEY([WorkShiftId])
REFERENCES [dbo].[WorkShift] ([Id])
GO
ALTER TABLE [dbo].[EmployeeShift] CHECK CONSTRAINT [FK_EmployeeShift_WorkShift]
GO
ALTER TABLE [dbo].[EmployeeSkillSet]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSkillSet_EmployeeSkillLevel] FOREIGN KEY([SkillLevel])
REFERENCES [dbo].[EmployeeSkillLevel] ([SkillLevel])
GO
ALTER TABLE [dbo].[EmployeeSkillSet] CHECK CONSTRAINT [FK_EmployeeSkillSet_EmployeeSkillLevel]
GO
ALTER TABLE [dbo].[EmployeeSkillSet]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSkillSet_Employment] FOREIGN KEY([EmploymentId])
REFERENCES [dbo].[Employment] ([Id])
GO
ALTER TABLE [dbo].[EmployeeSkillSet] CHECK CONSTRAINT [FK_EmployeeSkillSet_Employment]
GO
ALTER TABLE [dbo].[EmployeeSkillSet]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSkillSet_SkillSet] FOREIGN KEY([SkillId])
REFERENCES [dbo].[SkillSet] ([Id])
GO
ALTER TABLE [dbo].[EmployeeSkillSet] CHECK CONSTRAINT [FK_EmployeeSkillSet_SkillSet]
GO
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD  CONSTRAINT [FK_Employment_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Employment] CHECK CONSTRAINT [FK_Employment_Department]
GO
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD  CONSTRAINT [FK_Employment_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employment] CHECK CONSTRAINT [FK_Employment_Employee]
GO
ALTER TABLE [dbo].[Employment]  WITH CHECK ADD  CONSTRAINT [FK_Employment_EmployeeDesignation] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[EmployeeDesignation] ([Id])
GO
ALTER TABLE [dbo].[Employment] CHECK CONSTRAINT [FK_Employment_EmployeeDesignation]
GO
ALTER TABLE [dbo].[LeaveSettings]  WITH CHECK ADD  CONSTRAINT [FK_LeaveSettings_EmployeeType] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[EmployeeType] ([Id])
GO
ALTER TABLE [dbo].[LeaveSettings] CHECK CONSTRAINT [FK_LeaveSettings_EmployeeType]
GO
ALTER TABLE [dbo].[LeaveSettings]  WITH CHECK ADD  CONSTRAINT [FK_LeaveSettings_LeaveType] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[LeaveType] ([Id])
GO
ALTER TABLE [dbo].[LeaveSettings] CHECK CONSTRAINT [FK_LeaveSettings_LeaveType]
GO
ALTER TABLE [dbo].[PoliceStation]  WITH CHECK ADD  CONSTRAINT [FK_PoliceStation_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[PoliceStation] CHECK CONSTRAINT [FK_PoliceStation_District]
GO
ALTER TABLE [dbo].[WorkGroup]  WITH CHECK ADD  CONSTRAINT [FK_WorkGroup_WorkShift] FOREIGN KEY([WorkShiftId])
REFERENCES [dbo].[WorkShift] ([Id])
GO
ALTER TABLE [dbo].[WorkGroup] CHECK CONSTRAINT [FK_WorkGroup_WorkShift]
GO
