@using SCERP.Common
@model SCERP.Web.Areas.HRM.Models.ViewModels.AuthorizationTypeViewModel
@{
    ViewBag.Title = "Authorization Type";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var displayStyle = (Model.AuthorizationTypes.Any()) ? "" : "none";
}
@using (Html.BeginForm("Index", "AuthorizationType", FormMethod.Get, new { @class = "AuthorizationTypeSearchForm ignore-validation" }))
{
    @Html.HiddenFor(x=>x.IsSearch)

    <div class="header-title">
        <h2>Authorization Type</h2>
    </div>
    <section class="common-search-section">
        <div class="search formCover common-search-wrapper">
            <table class="tabefont">
                <tr>
                    <td>
                        @Html.Label("Authorization Type :")
                    </td>
                    <td>
                        @Html.EditorFor(x => x.SearchByTypeName)
                    </td>

                    <td>
                        <input type="button" class="searchAction"/>
                    </td>
                </tr>
            </table>
        </div>
    </section>

}
<section class="search formCover">
    <div class="additem">
        <div class="addButton-wrapper">
            <button class="AjaxPopup addButton" action="/HRM/AuthorizationType/Edit">Add New</button>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.AuthorizationTypes, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns:
                grid.Columns(
                         grid.Column("TypeName", header: "Authorization Type"),
                grid.Column("Detail/Edit", canSort: false, format: @<text><button class="edit" action="/HRM/AuthorizationType/Edit?Id=@item.Id"></button></text>),
                grid.Column("Delete",canSort:false,format:@<text><button class="delete" action="/HRM/AuthorizationType/Delete?Id=@item.Id"></button></text>)));
        }
    </div>
</section>


