<?xml version="1.0"?>
<appSettings>
  <clear/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false"/>
  <add key="PageSize" value="25"/>
  <add key="IsEnableUserLogTime" value="false"/>
  <add key="MaxUploadFileSizeMB" value="100" />
  <add key="IsSetCustomProductionDate" value="true" />
  <add key="ProductionDate" value="2019-02-02" />
  <add key="AppHostingAddress" value="localhost:8050" />
	<add key="ReportServerAddress" value="localhost:8050" />
	<add key="ExportReportFillPath" value="~/App_Data/SAMPLE" />
  
	<!--<add key="ReportServerAddress" value="192.168.10.50:8090" />-->
  <add key="ReportServerUrl" value="http://localhost:8050/ReportServer" />
  <add key="rsDomain" value="" />
  <add key="rsUserName" value="Administrator" />
  <add key="rsPassword" value="#R@*71bdYDS" />
	<add key="ReportPath" value="/SCERPREPORT.Inventory/{0}"/>
  <add key="SmsGatewayUserId" value="SoftCode"/>
  <add key="SmsGatewayPassword" value="GTexERP"/>
  <add key="SmsSenderName" value="GTex ERP"/>
  <add key="SmsGatewayUrl" value="http:localhost/maskingapi.php"/>

</appSettings>
