@model SCERP.Web.Areas.Merchandising.Models.ViewModel.MerchandisingReportViewModel
@{
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";

}
<div style="width:500px; padding-left:340px;">
    <h2>Pending Fabric Cosnumption List</h2>
</div>
<section class="search formCover">
    <div style="margin-bottom: 10px;margin-left: 100px;">
        @using (Html.BeginForm("PandingConsumptionReport", "Report", FormMethod.Get, new { @class = "MerchandisingSearchForm" }))
        {
            @Html.HiddenFor(x => x.IsShowReport)
            <table class="tabefont">
                <tr>
                    <td>@Html.Label("Merchandiser")</td>
                    <td>
                        @Html.DropDownListFor(x => x.MerchandiserId, Model.MerchandisngSelectListItem, "ALL")
                    </td>

                    <td>
                        <input type="button" class="showRdlcReport" value="Show" />
                    </td>
                </tr>
            </table>

        }
    </div>
    <iframe id="reportIfram" width="1000" height="400"></iframe>
</section>

<script>
    $('.showRdlcReport').unbind('click').bind('click', function (e) {
        var form = $(this).parents('form:first');
        if (jQuery.validator && jQuery.validator.unobtrusive) {
            form.validate();
            if (!form.valid()) {
                e.preventDefault();
                return false;
            } else {
                var data = form.serialize();
                var searchurl = '/Merchandising/Report/PandingConsumptionReport?' + data;
                $('#reportIfram').attr('src', '');
                $('#reportIfram').attr('src', searchurl);
            }
        }

    });
</script>

