@model SCERP.Web.Areas.HRM.Models.ViewModels.QuitTypeViewModel

@{
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
    int rowCount = 1;
}

<div class="additem ">
    <div>
        <link href="~/Content/Common/PdfReport.css" rel="stylesheet" />
        <table class="pdfReportTable" style="border: 0;margin-bottom:5px">
            <thead class="reportHeader">
                <tr class="reportTitle">
                    <td colspan="15" align="center">Quit Type List</td>
                </tr>
                <tr>
                    <td>Date:@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
                </tr>
            </thead>
        </table>

        <table class="pdfReportTable" border="1">
            <thead class="reportThead" align="center">
                <tr class="reportTR">
                    <td class="reportTH">
                        SL. No
                    </td>
                    <td class="reportTH">
                        QuitType 
                    </td>

                    <td class="reportTH">

                        Description
                    </td>
                </tr>
            </thead>
            <tbody class="reportBody">
                @foreach (var unit in Model.QuitTypes)
                {
                    <tr class="reportTR">
                        <td class="reportTD">
                            @rowCount
                        </td>
                      
                        <td class="reportTD">
                            @unit.Type
                        </td>
                   
                        <td class="reportTD">
                            @unit.Description
                        </td>
                    </tr>
                    rowCount += 1;
                }

            </tbody>

        </table>


    </div>

</div>



