
@model SCERP.Web.Areas.HRM.Models.ViewModels.LeaveTypeViewModel
@{
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
    var rowCount = 1;
}


<div class="additem ">
    <div>
        <link href="~/Content/Common/PdfReport.css" rel="stylesheet" />
        <table class="pdfReportTable" style="border: 0;margin-bottom:5px">
            <thead class="reportHeader">
                <tr class="reportTitle">
                    <td colspan="15" align="center">Leave Type List</td>
                </tr>
                <tr>
                    <td>Date:@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
                </tr>
            </thead>
        </table>
        <table class="pdfReportTable" border="1">
            <thead class="reportThead">
                <tr class="reportTR">
                    <td class="reportTH">
                        SL. No
                    </td>
                    <td class="reportTH">
                        Leave Type
                    </td>
                    <td class="reportTH">
                        Description
                    </td>
                </tr>
            </thead>
            <tbody class="reportBody">

                @foreach (var leaveType in Model.LeaveTypes)
                {
                    <tr class="reportTR">
                        <td class="reportTD">
                            @rowCount
                        </td>
                        <td class="reportTD">
                            @leaveType.Title
                        </td>
                        <td class="reportTD">
                            @leaveType.Description
                        </td>

                    </tr>
                    rowCount += 1;
                }

            </tbody>
        </table>
    </div>

</div>


