@model SCERP.Web.Areas.HRM.Models.ViewModels.EmployeeDocumentViewModel
@{
    ViewBag.Title = "Employee document";
    Layout = null;
}
<div class="EmployeeDocumentDetailContainner">
    @using (Html.BeginForm("Index", "EmployeeDocuments", FormMethod.Get, new { @class = "EmployeeDocumentsSearchForm" }))
    {
        <div class="additem">
            <div style="margin-bottom: 3px;">
                <button class="AjaxPopup addButton" action="/HRM/EmployeeDocuments/Edit">Add New</button>
            </div>
            @{
        var grid = new WebGrid(canPage: false, canSort: false, ajaxUpdateContainerId: "grid");
        grid.Bind(Model.EmployeeDocuments, autoSortAndPage: false);
        @grid.GetHtml(htmlAttributes: new { id = "grid" },
                    tableStyle: "webgrid-table webgrid",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    selectedRowStyle: "webgrid-selected-row",
                    rowStyle: "webgrid-row-style",
                    firstText: "First",
                    lastText: "Last",
                    nextText: "Next",
                    mode: WebGridPagerModes.All,
                    previousText: "Previous",
                    columns: grid.Columns(
                        grid.Column("Title"),
                        grid.Column("Description"),
                       grid.Column("Detail/Edit", canSort: false, format: @<text><button class="edit" action="/HRM/EmployeeDocuments/Edit/@item.Id"></button></text>),
                        grid.Column(header: "Download", format: @<text><a href="/HRM/EmployeeDocuments/Download/@item.Id"> <img src="~/Content/icons/16x16/download.jpg" name="" /> </a></text>),
                        grid.Column(header: "Delete", format: @<text><button class="delete" action="/HRM/EmployeeDocuments/Delete/@item.Id"></button></text>)
                 ))

            }


        </div>
    }
</div>