@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #0f467a;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}
a:hover, a:focus {
    color: #00b1f0;
}

.login-section {
    background: #ffffff;
    overflow: hidden;
}
.Content {
    float: none !important;
}

.form-signin {
    /*padding: 15px;
    margin: 0 auto;*/
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-out 0s;
}
.form-check {
    overflow: hidden;
}
.login-sec {
    padding: 20px 30px 50px; 
    position: relative;
    height: 100vh;
}
.login-sec h2 {
    margin-bottom: 30px; 
    font-weight: 800; 
    font-size: 30px; 
    color: #0f467a;
}
.login-sec h2:after {
    content: ''; 
    width: 100px; 
    height: 5px; 
    display: block; 
    margin-top: 20px; 
    border-radius: 3px; 
    margin-left: auto;
    margin-right: auto;
}
.help-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    text-align: center;
}
.help-block span {
    height: 12px;
    width: auto;
    -webkit-transform: scale(2);
    transform: scale(2);
    color: #B22222;
    font-size: 7px;
    font-weight: 700;
    border-bottom: 1px solid #B22222;
}
.btn-login {
    background: #0f467a; 
    color: #ffffff;
    border-radius: 2px;
}
.btn-login:hover, .btn-login:focus {
    background: #00B1F0;
    color: #ffffff;
}
.copy-text {
    position: absolute;
    width: 90%;
    bottom: 20px;
    font-size: 11px;
    text-align: center;
}
.copy-text i {
    color: #FEB58A;
}
.copy-text a {
	color: #00B1F0;
	font-weight: 600;
}

/*
Slider Section Beginning
*/
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
}

    .fade-carousel .carousel-indicators > li {
        margin: 0 2px;
        background-color: #f39c12;
        border-color: #f39c12;
        opacity: .7;
    }

        .fade-carousel .carousel-indicators > li.active {
            width: 10px;
            height: 10px;
            opacity: 1;
        }

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .5;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6, 
.fade-carousel .slides .slide-7 {
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
    width: 100%;
    background-image: url('../images/slider/1.jpg');
}

.fade-carousel .slides .slide-2 {
    width: 100%;
    background-image: url('../images/slider/2.jpg');
}

.fade-carousel .slides .slide-3 {
    width: 100%;
    background-image: url('../images/slider/3.jpg');
}

.fade-carousel .slides .slide-4 {
    width: 100%;
    background-image: url('../images/slider/4.jpg');
}

.fade-carousel .slides .slide-5 {
    width: 100%;
    background-image: url('../images/slider/5.jpg');
}

.fade-carousel .slides .slide-6 {
    width: 100%;
    background-image: url('../images/slider/6.jpg');
}

.fade-carousel .slides .slide-7 {
    width: 100%;
    background-image: url('../images/slider/7.jpg');
}

@media only screen and (min-width: 1200px) {

    .fade-carousel {
        height: 100vh;
    }

        .fade-carousel .carousel-inner .item {
            height: 100%;
        }
}
/* Slider Section Ending */






/* Footer-Section */

/*.footer-section {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #293f56;
    padding: 10px 0;
    text-align: center;
    z-index: 99999;
}

    .footer-section p {
        margin: 0;
        color: #FFFFFF;
        font-size: 12px;
    }

        .footer-section p a {
            text-decoration: underline;
        }

            .footer-section p a:hover {
                text-decoration: none;
            }*/



.login-sec.active .input-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login-sec.active .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.login-sec.active .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.login-sec.active .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.input-container {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
}
.input-container input:focus {
  box-shadow: none;
}
.input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.input-container input:focus ~ .bar:before, .input-container input:focus ~ .bar:after {
  width: 50%;
}
.input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.input-container .bar:before, .input-container .bar:after {
  content: '';
  position: absolute;
  background: #00b1f0;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.input-container .bar:before {
  left: 50%;
}
.input-container .bar:after {
  right: 50%;
}

