
.main-body {
    margin-top: 30px;
}

.col-md-item {
    margin: 10px 0.5%;
    width: 24%;
    float: left;
}
.user-activities-legend {
    color: #52578a;
    font-size: 16px;
    font-weight: 700;
}
.user-activities {
    overflow: hidden;
    margin: 0 10px 10px;
}
.account-section {
    overflow: hidden;
    padding: 20px 25px;
    background: #f3f3f3;
    border: 1px solid #dddddd;
    box-shadow: 0 0 3px 0 #eeeeee;
    -webkit-transition: background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
}
.account-section:hover {
    background: #ffffff;
    border: 1px solid ghostwhite;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1),0 1px 10px 0 rgba(0,0,0,0.1);
    cursor: pointer;
}
.account-header {
    position: relative;
}
.account-header h4 {
    margin: 0 0 2px;
    color: #095e96;
    font-size: 16px;
}
.user-activity-details {
    margin-bottom: 10px;
}
.user-activity-details ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.user-activity-details ul li {
    line-height: 25px;
}
.user-activity-details ul li .user-activity-process {
    margin: 0;
    color: #282828;
    float: right;
    font-weight: 700;
}
.visual {
    width: 17px;
    height: 93px;
    display: block;
    float: left;
    padding-top: 15px;
    padding-left: 0;
    margin-bottom: 15px;
    font-size: 35px;
    margin-left: -17px;
}
.visual>i {
    margin-left: -37px;
    font-size: 110px;
    line-height: 110px;
    color: #000;
    opacity: .05;
}
.account-section a {
    margin-bottom: 15px;
    font-size: 0.96em;
}
.account-section a:hover {
    text-decoration: underline;
}
.status {
    position: absolute;
    top: 1px;
    right: 0;
    color: #777777;
    font-size: 0.86em;
}